@imp    ort "@/style/globalVariables.scss";

.dropdown {
    left: 0;
    z-index: -1;
    background-color: rgba(0,0,0,0);
    width:100%;
    pointer-events: none; 
    animation: descend 0.5s linear forwards;
}

.text{
    animation: appear 0.5s linear forwards;
}
@keyframes appear {
    0% {
        opacity: 0;
    }
    50%{
        opacity: 0;
    }
    100% {

        opacity:1;
    }
}   
    @keyframes descend {
        0% {
            transform: translateY(-40%);
        }
        100% {

            transform: translateY(0%);
        }
    }
