.navList {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 0;
    padding: 1rem 0;
}

.navItem {
    list-style: none;
    font-size: xx-large;
    margin-right: auto;
    margin-left: 3rem;
    position: relative;
  
    a {
      text-decoration: none;
      color: inherit;
      position: relative;
      &::after {
        content: "";
        display: block;
        width: 100%;
        height: 10px;
        background-image: url("/assets/svg/active-menu.svg");
        background-position: top;
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
        bottom: -10px;
        left: 0;
        transform: scaleX(0); 
        transform-origin: right; 
        transition: transform 0.5s;
      }
  
      &:hover::after {
        transform: scaleX(1); 
        transform-origin: left; 
      }
    }
  }


.button {
    font-size: xx-large;
    border: none;
    cursor: pointer;

    &:hover {
        background-color: #0056b3;
    }
}
