@font-face {
    font-family: "RubikRegular";
    src: url("/assets/fonts/Rubik-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "RubikBold";
    src: url("/assets/fonts/Rubik-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "RubikLight";
    src: url("/assets/fonts/Rubik-Light.ttf") format("truetype");
}

