.dark_blue_fill {
    fill: #273155;
    fill-rule: nonzero;
}
.teal_fill {
    fill: #149497;
    fill-rule: nonzero;
}
.blue_fill {
    fill: #1d538f;
    fill-rule: nonzero;
}
.aqua_fill {
    fill: #9bdcde;
    fill-rule: nonzero;
}
.red_fill{
    fill: #fa5456;
    fill-rule: nonzero;
}
.orange_fill {
    fill: #fa8825;
    fill-rule: nonzero;
}
.yellow_fill {
    fill: #fed942;
    fill-rule: nonzero;
}